{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ],
  "spaceBeforeFunctionParen": true,
  "spaceAfterFunctionName": false,
  "noUnusedVars": true,
  "noTrailingWhitespace": true,
  "quoteProps": "consistent",
  "spaceInfixOps": true,
  "objectCurlySpacing": ["error", "never"],
  "arrayBracketSpacing": ["error", "never"],
  "spaceUnaryOps": [2, { "words": true, "nonwords": false }],
  "noMultipleEmptyLines": { "max": 1 },
  "eolLast": true,
  "jsxBracketSameLine": false,
  "vueIndentScriptAndStyle": true,
  "noConsole": "warn",
  "noExtraBooleanCast": "warn",
  "noImplicitAny": true,
  "noImplicitThis": true,
  "preferConst": true,
  "noVar": true,
  "spaceBeforeBlock": true,
  "curly": ["error", "all"],
  "spaceAfterColon": true,
  "spaceBeforeColon": false,
  "noExtraParens": true,
  "noMultipleSpaces": true,
  "camelcase": "warn",
  "preferTemplate": "warn",
  "noMagicNumbers": ["warn", { "ignore": [0, 1] }],
  "consistent-return": "warn",
  "no-alert": "warn",
  "no-extra-bind": "warn",
  "no-new-func": "warn",
  "no-extend-native": "warn",
  "no-useless-constructor": "warn",
  "no-useless-escape": "warn",
  "no-useless-catch": "warn",
  "no-throw-literal": "warn",
  "no-floating-decimal": "warn",
  "no-return-assign": "warn",
  "no-underscore-dangle": "warn",
  "prefer-arrow-callback": "warn",
  "prefer-rest-params": "warn",
  "prefer-spread": "warn",
  "no-use-before-define": ["error", { "functions": false, "classes": true, "variables": true }]
}
